body {
    background-color: mediumslateblue;
}

div {
    background-color: brown;
    height: 200px;
    width: 200px;
}

.parent {
    background-color: bisque;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.one {
    flex-shrink: 2;
}